input {
    background-color: coral;
    color: grey;
    font-size: 1.3rem;
    border: none;
    border-bottom: 2px solid white;
    margin-top: 0.5rem;
}

input:focus {
    outline: none;
    background: #caa395;
}

@media all and (min-width: 500px) {
    input {
        font-size: 3rem;
    }
}

@media all and (min-width: 900px) {
    input {
        font-size: 2rem;
    }
}