@import "../abstracts/_mixin.scss";

$duration: 1.5s;
$perspective: 10rem;
$degree: 90deg;

.feature-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30vh;

    color:white;
    background: coral;
    border-radius: 10px;
    padding: 20px;
    margin: 25px 20px;
    @include boxshadow;
    //for 3d functionality
    perspective: 700;

    .flip-container {
        transition: all $duration ease;
        transform-style: preserve-3d;
        .front, .back {
            backface-visibility: hidden;
        }
    
        .back {
            display: none;
            transform: rotateY(180deg);
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
    }
    .flip-container:hover {
        transform: rotateY(180deg);
    }

    .submit-method-container {
        display: flex;
        flex-direction: row;
    }

    .feature-items {
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .feature-description {
        display: flex;
        flex-direction: row;
    }

    .feature-name {
        height: 20%;
        color: white;
    }
}
@media all and (min-width: 300px) {
    .feature-container {
        height: 15vh;
    }
    .feature-name, .select-text, .result-text {
        font-size: 1.3rem;
    }
}


@media all and (min-width: 400px) {
    .feature-name, .select-text, .result-text {
        font-size: 1.3rem;
    }
    .feature-container {
        margin: 4rem 2rem;
    }
}

@media all and (min-width: 700px) {
    .feature-name, .select-text, .result-text {
        font-size: 1.7rem;
    }
    .feature-container {
        height: 25vh;
    }
}

@media all and (min-width: 900px) {
    .feature-name, .select-text, .result-text{
        font-size: 2rem;
    }
    .feature-container {
        height: 27vh;
        margin: 4rem 10rem;
    }
}
@media all and (min-width: 1000px) {
    .feature-name, .select-text, .result-text{
        font-size: 2rem;
    }
}

@media all and (min-width: 1400px) {
    .feature-name, .select-text, .result-text{
        font-size: 3rem;
    }
}