.feature-container {
    display: flex;
    flex-direction: column;
    
    background: white;
    border-radius: 25px;
    padding: 20px;

    
    -webkit-box-shadow: 4px 16px 122px -11px #888888;
    -moz-box-shadow: 4px 16px 122px -11px #888888;
    box-shadow: 4px 16px 122px -11px #888888;

    margin: 20px;

    
}

