@import "../abstracts/_mixin.scss";

.nav-container {
    background:#FFFFFF;

    @include boxshadow_bottom;

    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: left;
    
    img {
        background: #FFFFFF;
        width: 35%;
    }
}