.nav-container {
    background:#FFFFFF;
    box-shadow: 0 8px 6px -6px #888888;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: left;
    img {
        background: #FFFFFF;
        width: 35%;
    }
}